/* Page Formatting */

* {
	margin:0;
	padding:0;
	}
	
	.noCSS {
	margin:0;
	padding:0;
	}

.mychk input
    {
          height:8px;
          width:8px;
    }
    
    .mychk2 { 
    margin-top:0em;
	margin-bottom:0.5em;
}


..col
{
padding-right:10px;
padding-left:50px;
}

body {
	background-color:#ffffff;
	font:12px "Trebuchet MS", Arial, Verdana;
	color:#555555;
	text-align:left;
}
a {
	color:#8bbc70;
	text-decoration:none;
	}
a:hover {
	color:#555555;
	text-decoration:none;
	}
img, img a {
	border:0;
	}
p {
	line-height:1.7em;
	margin-bottom:20px;
}

h1 {
	font-size:24px;
}

h2 {
	font-size:18px;
}

h3 {
	font-size:14px;
}

.myChart 
{
	margin: 0 10px 0 20px;
	padding:  15px 5px 0 5px;
	Height:403px;
	Width:1403px; 
}

/* Header Area */
#topLine {
	height:50px;
	border-bottom:15px solid #DEEAFA;
}

#header{
	width:100%;
	margin:10px auto 0px auto;
	padding:10px;
	}
	
#header h1
{
    width:530px;
	margin:25px 0 0 0;
	background:#ffffff;
	padding:5px 0px 5px 20px;
}

#header h1 span{
	color:#8bbc70;
	font-size:110%;
}


#header ul.nav {
	margin:10px 0 0 0;
	padding:15px 0 0 0;
	float:right;
}

#header ul.nav li {
	display:inline;
	padding:5px 10px 5px 5px;
}

#header ul.nav li a{
	padding:5px 10px 5px 5px;
}

#header ul.nav li.active {
	margin:0;
	padding: 5px 5px 0px 5px;
}


#header ul.nav li.active a{
	padding:5px 10px 0px 5px;
	display:inline;
	color:#555555;
}


/* Page Wrappers */
#outerwarrper {
	width:100%;
	margin:30px auto 0 auto;
	padding:10px;
	background:#fff url(images/top_curve.gif) repeat-y 10px 0px;
	clear:both;
}

#wrapper {
	margin-top:1px;
	float:left;
	width:100%;
	background:#fff url(images/content_bg.gif) repeat-y top left;
}

/* Content Area width:1583px;*/
#content {
	width:84%;
	margin:10px 0 0 0px;
	float:left;
}

.mypanel 
{
    width:100%;
	margin: 0 5px 0 10px;
    padding: 10px -10px 5px -20px;  
}


.mypanel table {	
	margin: 0 5px 0 5px;
	padding: 10px 0px 0 0px;
}

fieldset {border:1px solid red} /* For border color*/
/*legend {color:red}  For GroupingText color */

.mypanelbackup
{
    width:100%;
	margin: 0 10px 0 20px;
    padding: 20px 0px 5px 0px;

}

#content h1 
{
    width:100%;
	margin: 25px 10px 0 20px;
    padding: 20px 0px 5px 0px;
    text-align:center;
    border-bottom: 5px solid magenta;
}

#content h2 
{
    width:100%;
	margin: 0 10px 0 20px;
    padding: 20px 0px 5px 0px;
	border-bottom: 5px solid #8bbc70;
}

#content p 
{
    width:100%;
	margin: 0 10px 0 20px;
	padding: 10px 5px 0 5px;
}

#content p img {
	float:left;
	padding-right:15px
}

#content table {	
	margin: 0 10px 0 20px;
	padding: 10px 5px 0 5px;
}

#content table td.row_headers {
	background:#DEEAFA;
	text-align:center;
	padding: auto 10px auto 10px;
}

#content table td {
	padding: 1px 5px 1px 10px;
	background:#E5EFE0;
}

#content label { 
	display:block; 
	float:left; 
    width:49px; 
	text-align:right; 
	margin-top:0.2em;
	padding-right:5px;
	margin-left:20px; 
	margin-bottom:0.5em;
}

.mylabel { 
	display:block; 
	float:left; 
    width:220px; 
	text-align:right; 
	margin-top:0.2em;
	padding-right:5px;
	margin-left:20px; 
	margin-bottom:0.5em;
}

 .myDropDownList 
 {
     font:12px "Trebuchet MS", Arial, Verdana;
	border:1px solid #fff;
	padding-left:0.5em; 
	margin-bottom:0.6em;
}

 .myTestBox2
 {
     font:12px "Trebuchet MS", Arial, Verdana;
	padding-left:0.5em; 
	margin-bottom:0.6em;
}


#content form {
width:450px;  
padding:20px;
}

#content form label { 
	display:block; 
	float:left; 
	text-align:right; 
	padding-right:0px;
	margin-left:20px; 
	margin-bottom:0.5em;
}

#content form input {
	border:1px solid #fff;
	background:#FFFFA0;
	padding-left:0.5em; 
	margin-bottom:0.6em;
}

#content form #send, form #button2 {
	background:#FFFFA0;
	padding-right:0.5em; 
	cursor:pointer; 
	width:200px;  
	margin-left:125px;
	font-weight:bold;
	color:#555555;
}

#content form #send:hover, form #button2:hover {
	background-position:center left; 
	color:#8BBC70;
	font-weight:bold;
}

/* Sidebar Area width:223px;width:250px;*/

#sidebar {
	width:13%;
	margin:55px 10px 0 0px;
	background: url(images/bg-sidebar.gif) repeat top right;
	border:1px solid #dfdfdf;
	float:right;
}

#sidebar h3 {
	padding:10px 10px 0px 10px;
	text-align:center;
	border-bottom:2px solid #dfdfdf;	
}

#sidebar p {
	margin:0 20px 0 0px;
	padding:5px 10px 10px 10px;
}

#sidebar img {
	width:90px;
	margin:0px 0px 5px 5px;
	float:left;
	border:2px solid #dfdfdf;	
}


#sidebar ul.side {
	padding:5px 10px 10px 30px;
}

#sidebar ul.side li {
	padding: 1px 0 1px 0;
	
}

#sidebar ul.side li a {
	text-decoration:underline;
	color:#555555;	
}

#sidebar ul.side li a:hover {
	color:#8bbc70;	
}

#sidebar form .user_box {
	margin:0px 10px 10px 10px;
	width:100px;
}

#sidebar form .button {
	margin:0px 0px 10px 0px;
	background:url(images/top_group_bg.gif) repeat top left;
}

#sidebar_two {
	width:203px;
	margin:40px 30px 0 0px;
	background:#ffffff;
	float:right;
}

#sidebar_two h3 {
	padding:0px 10px 0px 10px;
	text-align:center;
	border-bottom:2px solid #dfdfdf;	
}

#sidebar_two img {
	width:90px;
	margin:5px 0px 5px 5px;
	float:left;
	border:2px solid #dfdfdf;	
}

/* Footer Area */
#oooofooter {
	clear:both;
	width: 100%;
	margin:0px auto 0 auto;
	padding:10px;
	background:#fff url(images/bottom_curve.gif) repeat-y 10px 0px;
}

#footer {
	clear:both;
	width: 100%;
	margin:0px auto 0 auto;
	padding:10px;
}

#footer p {
	text-align:center;
	margin:0;
	padding:0px;
	line-height:1.3em;
}















/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/

/*general styles for all CSS Checkboxes*/
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].css-checkbox {
	  position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

.css-label{
	background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}

/*specific classes related to Checkbox skins*/

.lite-green-check{background-image:url(http://csscheckbox.com/checkboxes/lite-green-check.png);}
.lite-blue-check{background-image:url(http://csscheckbox.com/checkboxes/lite-blue-check.png);}
.lite-gray-check{background-image:url(http://csscheckbox.com/checkboxes/lite-gray-check.png);}
.lite-cyan-check{background-image:url(http://csscheckbox.com/checkboxes/lite-cyan-check.png);}
.lite-orange-check{background-image:url(http://csscheckbox.com/checkboxes/lite-orange-check.png);}
.lite-red-check{background-image:url(http://csscheckbox.com/checkboxes/lite-red-check.png);}

.lite-x-cyan{background-image:url(http://csscheckbox.com/checkboxes/lite-x-cyan.png);}
.lite-x-gray{background-image:url(http://csscheckbox.com/checkboxes/lite-x-gray.png);}
.lite-x-blue{background-image:url(http://csscheckbox.com/checkboxes/lite-x-blue.png);}
.lite-x-orange{background-image:url(http://csscheckbox.com/checkboxes/lite-x-orange.png);}
.lite-x-red{background-image:url(http://csscheckbox.com/checkboxes/lite-x-red.png);}
.lite-x-green{background-image:url(http://csscheckbox.com/checkboxes/lite-x-green.png);}

.mac-style{background-image:url(http://csscheckbox.com/checkboxes/mac-style.png);}
.mario-style{background-image:url(http://csscheckbox.com/checkboxes/mario-style.png);}
.alert-style{background-image:url(http://csscheckbox.com/checkboxes/alert-style.png);}
.lite-plus{background-image:url(http://csscheckbox.com/checkboxes/lite-plus.png);}
.dark-plus{background-image:url(http://csscheckbox.com/checkboxes/dark-plus.png);}
.dark-plus-cyan{background-image:url(http://csscheckbox.com/checkboxes/dark-plus-cyan.png);}
.dark-plus-orange{background-image:url(http://csscheckbox.com/checkboxes/dark-plus-orange.png);}
.dark-check-cyan{background-image:url(http://csscheckbox.com/checkboxes/dark-check-cyan.png);}
.dark-check-green{background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);}
.dark-check-orange{background-image:url(http://csscheckbox.com/checkboxes/dark-check-orange.png);}


.depressed-lite-small{background-image:url(http://csscheckbox.com/checkboxes/depressed-lite-small.png);}
.elegant{background-image:url(http://csscheckbox.com/checkboxes/elegant.png);}
.depressed{background-image:url(http://csscheckbox.com/checkboxes/depressed.png);}
.chrome-style{background-image:url(http://csscheckbox.com/checkboxes/chrome-style.png);}
.web-two-style{background-image:url(http://csscheckbox.com/checkboxes/web-two-style.png);}
.vlad{background-image:url(http://csscheckbox.com/checkboxes/vlad.png);}
.klaus{background-image:url(http://csscheckbox.com/checkboxes/klaus.png);}

input[type=checkbox].css-checkbox.med + label.css-label.med {
	padding-left:22px;
    height:17px; 
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {

    background-position: 0 -17px;
}
input[type=checkbox].css-checkbox.sme + label.css-label.sme {
	padding-left:22px;
    height:16px; 
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme{

    background-position: 0 -16px;
}
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
	padding-left:22px;
    height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{

    background-position: 0 -20px;
}

